/* CSS HEX https://coolors.co/984447-0a2342-bebbbb-ffe347-a663cc
--platinum: #eaeaeaff;
--periwinkle: #cbc5eaff;
--pomp-and-power: #73628aff;
--delft-blue: #313d5aff;
--gunmetal: #183642ff; */

:root {
    --font-family: "Playfair-Display";
    --h1-background-color: #cbc5eaff;
    --h1-color: #183642ff;
    --footer-color: #eaeaeaff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 800px;
}


h1 {
    font-family: var(--font-family);
    background-color: var(--h1-background-color);
    color: var(--h1-color);
    padding: 20px;
    text-align: center;
}


h2 {
    font-family: var(--font-family);
    background-color: var(--h1-background-color);
    color: var(--h1-color);
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
}

h3 {
    font-family: var(--font-family);
    /* background-color: var(--h1-background-color); */
    color: var(--h1-color);
    padding: 10px;
    text-align: center;
}

header {
    text-align: center;
}

header nav {
    background-color: #183642ff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    text-decoration: none;
}

header nav a {
    color: var(--footer-color);
}

nav :hover {
    text-decoration: overline;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    /* grid-template-rows: 1fr 1fr; */
}

.parent-white {
    height: auto;
    margin: 20px;
    width: 100%;
}

.float-right {
    float: right;
    width: auto;
    height: 150px;
}

.float-left {
    float: left;
    width: 150px;
    height: auto;
}

.card-1 {
    grid-column: 1/2;
}

.card-2 {
    grid-column: 3/4;
    margin: 20px;
    /* flex: 0 0 100% */
}

.col-container {
  display: table;
  width: 100%;
}
.card-1,
.card-2 {
    display: table-cell;
    flex-direction: column;
    align-content: center;
    border: .5px solid #183642ff;
    border-radius: 20px;
    /* padding: 10px; */
    
}

img {
    margin: 10px;
}

section nav {
    color: var(--h1-color);
}

.web a {
    display:grid
}

p {
    display: table;
    vertical-align: middle;
    padding: 20px 10px;
}

figcaption {
    font-style: italic;
    padding: 0px 20px
}


footer {
    background-color: #183642ff;
    color: var(--footer-color);
    display: flex;
    flex: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    text-decoration: none;
}