/* Navy Blue #071D49 */
/* Red #AA0200 */
/* Yellow #FFB81D */

:root {
    font-family: Roboto;
    --h2-background-color: #FFB81D;
    --h1-background-color: #AA0200;
}

* {
    margin: 0 auto;
    padding: 0;
}

h1, footer {
    padding: 10px;
    background-color: var(--h1-background-color);
    color: #FFF;
    text-align: center;
}

h2 {
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    border-top: 10px #071D49;
}

main {
    display: grid;
    justify-content: center;
}

@media screen and (min-width: 550px) {
    h2 {
        background-color: var(--h2-background-color);
        color: #fff;
        padding: 10px;
        text-align: left;
    }

    main {
        display: grid;
        justify-content: center;
    }

    .data h2 { 
        position: absolute;
        left: -10px;
        top: .50rem;
        padding: 10px 100px;
        opacity: 80%;
    }

    .data {
        position: absolute;
        background-color: #fff;
        Left: 2rem;
        top: 5rem;
        padding: 4rem 10px 10px 10px;
        opacity: 75%;
    }

    .weather {
        position: absolute;
        background-color: #fff;
        Right: 2rem;
        bottom: 0px;
        padding: 3.5rem 10px 10px 10px;
        opacity: 75%;
        align-content: center;
    }

    .weather h2 {
        position: absolute;
        right: -10px;
        top: .50rem;
        padding: 10px 50px;
        opacity: 80%;
    }

}